
.loginContainer {
  background-color: #eaf1fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.loginForm {
  background-color: #fdfdfd;
  border: 1px solid #e3e3e3;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem;
  border-radius: 10px;


  form {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    label{
      display: flex;
      flex-direction: column;
    input {
      border: none;
      border-radius: 5px;
      background-color: #f1f1f3;
    }
    }

  }

  //.buttonContainer {
  //  display: flex;
  //  align-items: center;
  //  justify-content: space-around;

  button {
    width: 100%;
    border: none;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;

  }

  //}

}


