.layout{
  display: flex;
  min-height: 100vh;
  background-color:#f5f7fa ;
}

.sidebar{
  width: 250px;
  background: linear-gradient(135deg, #2c3e50 0%, #3a4a5c 100%);
  padding:20px;
  transition : width 00.3s ease;
  color: #e1e7ef;
}

.sidebar.collapsed {
  width: 90px;
}


.sidebar-header{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.sidebar-nav{
  align-self: center;
}

.collapse-button{
  background: none;
  border: none;
  color: #e1e7ef;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  transition: color 0.3s;
}

.collapse-button:hover{
  color : #ffffff;
}

.nav-item{
  display: flex;
  align-items: center;
  padding : 12px;
  margin-bottom: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
  color : #e1e7ef;
}
.nav-item:hover{
  background-color: rgba(255,255,255,0.08);
  color: #ffffff;
}

.icon{
  margin-right: 12px;
  font-size: 18px;
}

